.item {
    color: #020f00e1;
    font-size: 3rem;
    padding: 1rem;
}

.item img {
    width: 50px;
    height: auto;
    border-radius: 50%;
}

.like {
    width: 10px;
    height: auto;
    color: #000000e1;
    font-size: 1rem;
}