.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogItems {
    padding: 1rem;
}

.dialogItems .active {
    color: rgb(0, 183, 255);
}

.dialog {}

.messageItems {
    padding: 1rem;
}

.message {}