.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogItems {
    padding: 1rem;
}

.dialogItems .active {
    color: rgb(0, 183, 255);
}

.messageItems {
    padding: 1rem;
}

.textarea {
    height: 100px;
    border-radius: 10px;
    font-size: 1.5em;
    padding: 1rem;
}

.message {
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    color: rgb(0, 183, 255);
}

.button {
    background-color: rgb(0, 183, 255);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    cursor: pointer;
    margin: 1rem;
    font-size: 2rem;
}