.app-wrapper {
  background-color: rgb(255, 255, 255);
  color: rgb(6, 0, 38);
  max-width: 1250px;
  margin: 0 auto;
  font-size: 10px;
  display: grid;

  grid-template-areas:
    "header header header"
    "nav content content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;

}