.nav {
    grid-area: nav;
    background-color: #d0dcff;
    padding: 20px;
}

.item {
    font-size: 3rem;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.active {
    font-size: 3rem;
    color: rgb(0, 183, 255);
    cursor: pointer;
    text-decoration: none;
}

.item:hover {
    color: rgb(205, 249, 255);
}